.rez{
    border: 2px solid black;
    width: 40%;
    height: 50px;
    margin: 20px;
    background-color: white;
    text-align: center;
    font-size: 24px;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

form {
    padding: 20px;
}

fieldset {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.form-content {
    flex: 1;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    width: 100px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.ClearAll {
    background-color: #242121;
}

img {
    width: 500px;
    height: 400px;
    object-fit: contain;
    margin-right: 25%;
}

legend {
    font-weight: bold;
    font-size: 25px;
}