#rez{
    border: 2px solid black;
    width: 15%;
    height: 50px;
    margin: 20px;
    background-color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

form {
    padding: 20px;
    align-items: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input{
    width: 200px;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #333;
    color: white;
    width: 50px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#ac {
    background-color: rgb(209, 138, 7);
    width: 60px;
}